$colors: (
  'primary': #95e1d3,
  'secondary': #fce38a,
  'accent' : #f38181,
  'gray': #999999,
  'dark': #333333
);

$imgPath: '../../static/images/content/';

$desktop: 1120px;
$laptop: 64em;
$tablet: 1024px;
$phablet: 600px;
$mobileonly: 600px;