section.blog
    .wrapper
        +heading('our stories', 'latest blog')
        .col-12
            .col-4
                .b-img-wrap
                    img.responsive(src=imgPath + 'b-item1.png' alt='')
                    .date
                        strong 15
                        span Jan
                .b-desc
                    h4 Lorem ipsum dolor sit amet
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, expedita!
                .b-stats
                    span
                        i.fa.fa-eye(aria-hidden='true')
                        | 542
                    span
                        i.fa.fa-commenting(aria-hidden='true')
                        | 17
            .col-4
                .b-img-wrap
                    img.responsive(src=imgPath + 'b-item2.png' alt='')
                    .date
                        strong 14
                        span Jan
                .b-desc
                    h4 Lorem ipsum dolor sit amet
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, expedita!
                .b-stats
                    span
                        i.fa.fa-eye(aria-hidden='true')
                        | 99
                    span
                        i.fa.fa-commenting(aria-hidden='true')
                        | 42
            .col-4
                .b-img-wrap
                    img.responsive(src=imgPath + 'b-item3.png' alt='')
                    .date
                        strong 12
                        span Jan
                .b-desc
                    h4 Lorem ipsum dolor sit amet
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, expedita!
                .b-stats
                    span
                        i.fa.fa-eye(aria-hidden='true')
                        | 1114
                    span
                        i.fa.fa-commenting(aria-hidden='true')
                        | 323
