section.clients
    .wrapper
        +heading('happy clients', 'what people say')
        .col-12
            .col-6.mb
                .avatar
                    img.responsive.circle(src=imgPath + 'c-item1.png' alt='')
                .info
                    h4 Mathew dix
                    p.info-title Grapgic designer
                    p.info-text
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
            .col-6.mb
                .avatar
                    img.responsive.circle(src=imgPath + 'c-item2.png' alt='')
                .info
                    h4 Mathew dix
                    p.info-title Grapgic designer
                    p.info-text
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
            .col-6.mb
                .avatar
                    img.responsive.circle(src=imgPath + 'c-item3.png' alt='')
                .info
                    h4 Mathew dix
                    p.info-title Grapgic designer
                    p.info-text
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
            .col-6.mb
                .avatar
                    img.responsive.circle(src=imgPath + 'c-item4.png' alt='')
                .info
                    h4 Mathew dix
                    p.info-title Grapgic designer
                    p.info-text
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
