section.unique-design
    .wrapper
        .col-12
            +heading('for all devices', 'Unique design')
        .row.u-d-img-wrap
            img(src= imgPath + 'ipad.png' alt='')
            img(src=imgPath + 'iphone.png' alt='')