- var n = 0;
section.quotes.colored
    .wrapper
        ul.slider
            while n < 4
                - ++n
                li.slide.col-12
                    .slide-img
                        .slide-inner
                            i.fa.fa-comments(aria-hidden='true')
                    .slide-text
                        p
                            | &quot;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi ad esse excepturi magni pariatur necessitatibus odio repudiandae nostrum tenetur facilis dolore id, ullam, minus velit non dolor doloremque quia aliquam.&quot;

