section.services
    .wrapper
        +heading('we work with', 'Amazing services')
        .col-12
            .col-4
                .item-text
                    h4 photography
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, magnam!
                    i.service-icon.a
            .col-4
                .item-text
                    h4 web design
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, nihil.
                    i.service-icon.b
            .col-4
                .item-text
                    h4 creativity
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, doloremque.
                    i.service-icon.c

        .col-12
            .col-4
                .item-text
                    h4 seo
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, magnam!
                    i.service-icon.d
            .col-4
                .item-text
                    h4 CSS/HTML
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, nihil.
                    i.service-icon.e
            .col-4
                .item-text
                    h4 digital
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, doloremque.
                    i.service-icon.f

