-var stats = ['Web design projects', 'happy clients', 'winning awards', 'cup of coffee','members'];

section.stats
    .wrapper
        .col-12
            each stat in stats
                .item
                    strong.count-up 0
                    h4= stat