section.team
    .wrapper
        +heading('who we are', 'meet our team')
        .col-12
            .col-4
                .t-img-wrap
                    img.responsive(src=imgPath + 't-item1.png' alt='')
                    .item-title
                        ul.social
                            li
                                a(href='#')
                                    i.fa.fa-facebook(aria-hidden='true')
                            li
                                a(href='#')
                                    i.fa.fa-twitter(aria-hidden='true')
                            li
                                a(href='#')
                                    i.fa.fa-pinterest-p(aria-hidden='true')
                            li
                                a(href='#')
                                    i.fa.fa-instagram(aria-hidden='true')
                h4 Matthew Dix
                p Graphic Designer
            .col-4
                .t-img-wrap
                    img.responsive(src=imgPath + 't-item2.png' alt='')
                    .item-title
                        ul.social
                            li
                                a(href='#')
                                    i.fa.fa-facebook(aria-hidden='true')
                            li
                                a(href='#')
                                    i.fa.fa-twitter(aria-hidden='true')
                            li
                                a(href='#')
                                    i.fa.fa-pinterest-p(aria-hidden='true')
                            li
                                a(href='#')
                                    i.fa.fa-instagram(aria-hidden='true')
                h4 Christopher Campbell
                p Branding/UX design
            .col-4
                .t-img-wrap
                    img.responsive(src=imgPath + 't-item3.png' alt='')
                    .item-title
                        ul.social
                            li
                                a(href='#')
                                    i.fa.fa-facebook(aria-hidden='true')
                            li
                                a(href='#')
                                    i.fa.fa-twitter(aria-hidden='true')
                            li
                                a(href='#')
                                    i.fa.fa-pinterest-p(aria-hidden='true')
                            li
                                a(href='#')
                                    i.fa.fa-instagram(aria-hidden='true')
                h4 Michael Fertig
                p Developer
